#tb-transaction
{
    width: 100%;
    margin: 0 40px;
}
#tb-transaction tr .type
{ 
    width: 50%;
    border-bottom: 1px solid #d3d3d3;
}
#tb-transaction tr .income, .expense
{
    max-width: 20%;
    border-bottom: 1px solid #d3d3d3;
}

/* #tb-transaction tr #plan2{
    text-decoration: underline;
    padding-left: 0;
}

#tb-transaction tr #spent{
    text-decoration: underline;
    padding-right: 80px;
}

#tb-transaction tr #remain{
    text-decoration: underline;
    float: right;
}

#tb-transaction tr #var{
    padding-left: 20px;
    padding-top: 15px;
}

#tb-transaction tr #persen{
    text-align: center;
}

#tb-transaction{
    max-width: 100%;
}

#img-piechart{
    max-width: 100%;
}

.btn-add
{
    margin-top: 20px;
    margin-left: 20px;
    padding: 0.6em;
    box-sizing: border-box;
    outline: none;
    width: 100px;
    border: 1px solid #d3d3d3;
    font-size: 1.1rem;

    background-color: #076363;
    color: #ffffff;

    cursor: pointer;
} */