.btn-save
{
    padding: 0.6em;
    box-sizing: border-box;
    outline: none;
    width: 100px;
    border: 1px solid #d3d3d3;
    font-size: 1.2rem;

    background-color: #076363;
    color: #ffffff;

    cursor: pointer;
}
#error1, #error2
{
    color: #ff0000;
    font-weight: 500;
    font-size: 1.1rem;
    font-style: italic;
    margin-left: 10px;
}